:root {
  font-family: Open Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --flex-onroad-color: #ecde7c;
  --flex-completed-color: #7ac14d;
  --flex-onhold-color: #fe4c4a;
  --flex-inprogress-color: #b3d99b;

  --flex-bg-green: #68c142;

  --flex-bg-blue: #0f5c97;

  --flex-bg-red: #eb4345;

  --flex-bg-white: #f4f5f6;

  --flex-shadow-md: rgba(0, 0, 0, 0.25) 0px 1px 4px;

  --flex-radius-sm: 5px;
  --flex-radius-md: 10px;
}

body {
  background: var(--flex-bg-white);
}
